<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @like.title %>
</p>

<p>
  <b>Source:</b>
  <%= @like.source %>
</p>

<p>
  <b>Link:</b>
  <%= @like.link %>
</p>


<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
